.notesButton {
	background-color:#6d6b6b;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:14px;
	padding:5px 15px;
	text-decoration:none;
	position: absolute;
  	top: 15px;
  	right: 20px;
}
